{{!< default}}

{{#post}}

<div class="inner">
  <div class="post-header">
    <h1 class="post-title">{{{title}}}</h1>
    <div class="post-meta">
      <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time> &bull; 
      {{reading_time minute=(t "1 min read") minutes=(t "% min read")}} &bull; 
      Hot <span id="busuanzi_value_page_pv"></span>
    </div>
  </div>

  <article class="{{post_class}} post-content">
     {{content}}
  </article>

  <section class="post-footer">
    {{#if tags}}
    <div class="post-tags">
      {{#foreach tags}}
       <a href="{{url}}"># {{name}}</a>
      {{/foreach}}
    </div>
    {{/if}}     

    <div class="post-share">
      <span class="post-info-label">{{t "Share"}}</span>

      {{!-- TODO: --}}
      <a title="SinaWeibo" class="sinaweibo" href="https://service.weibo.com/share/share.php?url={{url absolute="true"}}?ref=weibo&amp;title={{title}}" target="_blank">
        <svg class="symbol-icon symbol-icon-weibo" aria-hidden="true">
          <use xlink:href="#sinaweibo"></use>
        </svg>
        <span class="hidden">Weibo</span>
      </a>

      {{!-- TODO: --}}
      <a title="WeChat" class="wechat" onclick="return false;">
        <svg class="symbol-icon symbol-icon-wechat" aria-hidden="true">
          <use xlink:href="#wechat"></use>
        </svg>
        <span class="hidden">WeChat</span>
      </a>

      <a title="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url absolute="true"}}">
        <i class="icon icon-mail" aria-hidden="true"></i><span class="hidden">Email</span>
      </a>
    </div>
  </section>

  <section class="post-comments" style="display: none;">
    <a id="show-disqus" class="post-comments-activate">{{t "Show Comments"}}</a>
    <div id="disqus_thread"></div>
  </section>

  <aside class="post-nav">
    {{#next_post}}
      <a class="post-nav-next" href="{{url}}" title="{{t "Next post"}}">
        <i class="icon icon-arrow-left" aria-label="{{t "Next post"}}"></i>
        <h2 class="post-nav-title">{{title}}</h2>
      </a>
    {{/next_post}}
    {{#prev_post}}
      <a class="post-nav-prev" href="{{url}}" title="{{t "Next post"}}">
        <h2 class="post-nav-title">{{title}}</h2>
        <i class="icon icon-arrow-right" aria-label="{{t "Previous post"}}"></i>
      </a>
    {{/prev_post}}
  </aside>
</div>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
		var post = $('.post-content');
		// Responsive videos with fitVids
    post.fitVids();

		// Format code blocks and add line numbers
		function codestyling() {
	    $('pre code').each(function(i, e) {
				// Code highlight
	      hljs.highlightBlock(e);
	      // No lines for plain text blocks
	      if (!$(this).hasClass('language-text')) {
	        var code = $(this);
					// Calculate amount of lines
	        var lines = code.html().split(/\n(?!$)/g).length;
	        var numbers = [];
	        if (lines > 1) {
	          lines++;
	        }
	        for (i = 1; i < lines; i++) {
	          numbers += '<span class="line" aria-hidden="true">' + i + '</span>';
	        }
	        code.parent().append('<div class="lines">' + numbers + '</div>');
	      }
	    });
	  }
	  codestyling();

		// Check if disqus is defined by code injection
		if (typeof disqus === 'undefined') {
			// hide comment section
	    $('.post-comments').css({
	      'display': 'none'
	    });
	  } else {
      $('.post-comments').css({ 'display': 'block' });

	    $('#show-disqus').on('click', function() {
	      $.ajax({
	        type: "GET",
	        url: "//" + disqus + ".disqus.com/embed.js",
	        dataType: "script",
	        cache: true
	      });
	      $(this).parent().addClass('activated');
	    });
	  }
  });
</script>
{{/contentFor}}
