{{!< default}}

{{!-- {{#contentFor "styles"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism-tomorrow.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/toolbar/prism-toolbar.min.css" />
{{/contentFor}} --}}

{{#post}}
<div class="inner">
  <div class="post-header">
    <h1 class="post-title">{{{title}}}</h1>
    <div class="post-meta">
      <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time> &bull; 
      {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
    </div>
  </div>

  <article class="{{post_class}} post-content">
     {{content}}
  </article>

  <section class="post-footer">
    {{#if tags}}
    <div class="post-tags">
      {{#foreach tags}}
       <a href="{{url}}"># {{name}}</a>
      {{/foreach}}
    </div>
    {{/if}}
  </section>

  <aside class="post-nav">
    {{#prev_post}}
      <a class="post-nav-prev" href="{{url}}" title="{{t "Previous post"}}">
        <h2 class="post-nav-title">{{title}}</h2>
        <i class="icon icon-arrow-right" aria-label="{{t "Previous post"}}"></i>
      </a>
    {{/prev_post}}

    {{#next_post}}
      <a class="post-nav-next" href="{{url}}" title="{{t "Next post"}}">
        <i class="icon icon-arrow-left" aria-label="{{t "Next post"}}"></i>
        <h2 class="post-nav-title">{{title}}</h2>
      </a>
    {{/next_post}}
  </aside>
</div>
{{/post}}

{{!-- {{#contentFor "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
{{/contentFor}} --}}
